<div class="container">
  <form class="w-50" #form="ngForm">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        name="email_"
        #email_="ngModel"
        [(ngModel)]="email"
        id="email"
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        pattern="^[^\s@]+@([^\s@.,]+\.)+[^\s@.,]{1,}$"
        required
        >

      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

      <div class="alert alert-danger" *ngIf="email_.touched && email_.invalid">
        Some error message here
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        name="password_"
        #password_="ngModel"
        [(ngModel)]="password"
        type="password"
        class="form-control"
        id="password"
        minlength="5"
        required
        >
    </div>
    <div class="alert alert-danger" *ngIf="password_.touched && password_.invalid">
      Some error message here
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  </form>
</div>
